.sg-container{

    background-color:#171715;
    
}

h1{

    color: white;
    
}

h2{

    color: white;
    
}

h3{

    color: white;
    
}

h4{

    color: white;
    
}

p{

    color: white;
    
}